@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: aliceblue;
}
#header{
    display: flex;
    font-size: 3vw;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightseagreen;
}
.menu{
    display: flex;
}
.menu li{
    padding: 2vw;
}
a:link{
    color: aqua;
}