@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: aliceblue;
}
#header{
    display: flex;
    font-size: 3vw;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightseagreen;
}
.menu{
    display: flex;
}
.menu li{
    padding: 2vw;
}
a{
    color:rgb(0, 130, 130);
    font-weight: bold;
}
a:link{
    color: rgb(62, 125, 0);
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: gray;
}
a:focus{
    color: blue;
}
a:active{
    color: red;
}